.inputworkcontainer{
    display: flex;
    justify-content: center;
    padding: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 10px;
}
form input{
    width: 500px;
    margin: 20px;
    font-size: 25px;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid gray;
}
form textarea{
    margin: 15px;
    font-size: 15px;
    min-height: 70px;
    padding: 10px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}
.buttoncontainer{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.buttoncontainer button{
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    /* border: 1px solid gray; */
    padding: 10px 17px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px gray;
    background-color: aqua;
}
h1{
    text-align: center;
}
.todolistcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    min-height: 30vh;
}

.editcontainer button{
    cursor: pointer;
    font-size: 25px;
    background: transparent;
    /* border: 1px solid gray; */
    padding: 10px 14px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px gray;
}
.listitem{
    width: 500px;
    height: max-content;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 20px;
    background: aqua;
}
.listitem h2,.listitem p,.listitem h4{
    margin: 10px;
}
.editcontainer{
    display: flex;
    justify-content: space-evenly;
}
.todolistcontainer h1{
    font-size: 150%;
    margin-top: 50px;
}
.listofitems h1{
    /* color: #ffffff; */
    background: #ffffff5b;
    height: max-content;
}


@media (max-width:768px) {
    form input{
        width: 200px;
        margin: 10px;
        font-size: 15px;
        padding: 5px;
    }
    form textarea{
        margin: 10px;
        font-size: 12px;
        min-height: 40px;
        padding: 10px;
    }
    .buttoncontainer button{
        font-size: 15px;
        padding: 10px 18px;
        margin: 5px;
    }
    .editcontainer button{
        cursor: pointer;
        font-size: 15px;
        background: transparent;
        /* border: 1px solid gray; */
        padding: 10px 14px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 0 0 10px 5px gray;
    }
    .listitem{
        width: 250px;
        padding: 5px;
        border: 1px solid red;
        border-radius: 10px;
        margin: 20px;
        background: aqua;
    }
    .listitem h2,.listitem p,.listitem h4{
        font-size: 80%;
    }
    .todolistcontainer h1{
        margin-top: 50px;
    }
    
}